<section class="">
  <div class="mx-auto max-w-screen-xl px-4 flex h-[80vh] items-center">
    <div class="w-[80%] md:w-auto mx-auto max-w-3xl text-center">
      <h1 class="text-3xl font-extrabold sm:text-5xl sm:mb-12">
        Eleva tu sitio web con
        <strong
          class="font-extrabold text-black/70 dark:text-white/70 sm:block"
        >
          loaders fascinantes.
        </strong>
      </h1>

      <p class="mt-4 sm:text-xl/relaxed sm:leading-7">
        Descubre una colección minimalista de loaders. Elige entre una amplia
        gama de diseños. Simplemente selecciona, copia y pega para mejorar la
        experiencia de tus usuarios con un toque de sofisticación.
      </p>
    </div>
  </div>
</section>
