<section class="">
  <div class="mx-auto max-w-screen-xl px-4 lg:flex lg:h-[80vh] lg:items-center">
    <div class="mx-auto max-w-xl text-center">
      <h1 class="text-3xl font-extrabold sm:text-5xl">
        Eleva tu sitio web con
        <strong
          class="font-extrabold text-black/70 dark:text-white/70 sm:block"
        >
          loaders fascinantes.
        </strong>
      </h1>

      <p class="mt-4 sm:text-xl/relaxed">
        Descubre una colección minimalista de loaders. Elige entre una amplia
        gama de diseños. ¡Mejora la experiencia de usuario de tu sitio web!
      </p>
    </div>
  </div>
</section>
