---
import { ModeToggle } from "@/components/common/ModeToggle/mode-toggle";
---

<header
  class="sticky top-0 w-full flex items-center bg-white border-b border-gray-100 dark:bg-black dark:border-gray-300/20"
>
  <div
    class="w-full h-full max-w-7xl mx-auto flex justify-between items-center px-4 py-5"
  >
    <nav>
      <span class="font-bold text-xl">Minimal Loaders</span>
    </nav>
    <nav>
      <ModeToggle client:load />
    </nav>
  </div>
</header>
