---
import Banner from "@/components/common/Banner/Banner.astro";
import {
  LoaderL1,
  LoaderL7,
  LoaderL3,
  LoaderL4,
  LoaderL5,
  LoaderL6,
} from "@/components/common/Loaders/Loaders";
import { Button } from "@/components/ui/button";
import {
  Card,
  CardHeader,
  CardDescription,
  CardContent,
  CardTitle,
} from "@/components/ui/card";

import {
  Dialog,
  DialogContent,
  DialogTrigger,
  DialogHeader,
  DialogDescription,
  DialogTitle,
} from "@/components/ui/dialog";

import Layout from "@/layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout>
  <Banner />

  <section class="w-full min-h-screen mb-20">
    <div
      class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8 px-[24px] xl:px-0"
    >
      <Card
        className="p-4 flex items-center justify-center h-[300px] text-black"
      >
        <LoaderL1 />
      </Card>

      <Card className="p-4 flex items-center justify-center h-[300px]">
        <LoaderL7 />
      </Card>
      <Card className="p-4 flex items-center justify-center h-[300px]">
        <LoaderL3 />
      </Card>
      <Card className="p-4 flex items-center justify-center h-[300px]">
        <LoaderL4 />
      </Card>
      <Card className="p-4 flex items-center justify-center h-[300px]">
        <LoaderL5 />
      </Card>
      <Card className="p-4 flex items-center justify-center h-[300px]">
        <LoaderL6 />
      </Card>
    </div>
  </section>
</Layout>
